<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



  <nav class="navbar navbar-fixed-top">
    <div class="container content">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#"><i class="fa fa-search"></i>&nbsp&nbspFIND</a></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>&nbsp&nbsp&nbspCREATE</a></li>
        <li><a href="#"><i class="fa fa-child"></i></i>&nbsp&nbspJOIN</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <$ if (user) { $>
        <li><a href="/logout"><i class="fa fa-sign-in"></i>&nbsp&nbspSIGN OUT</a></li>
        <li>Welcome, <$= user.prof_name $></a></li>
        <$ } else { $>
        <li><a href="/auth/google"><i class="fa fa-sign-in"></i>&nbsp&nbspSIGN IN</a></li>
        <$ } $>
      </ul>
    </div>
  </nav>






</div>

