<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div id="header">

  <nav class="navbar navbar-fixed-top">
    <div class="container content">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#"><i class="fa fa-search"></i>&nbsp&nbspFIND</a></li>
        <li><a href="#"><i class="fa fa-plus-square"></i>&nbsp&nbsp&nbspCREATE</a></li>
        <li><a href="#"><i class="fa fa-child"></i></i>&nbsp&nbspJOIN</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <$ if (user) { $>
        <li><a href="/logout"><i class="fa fa-sign-in"></i>&nbsp&nbspSIGN OUT</a></li>
        <li>Welcome, <$= user.prof_name $></a></li>
        <$ } else { $>
        <li><a href="/auth/google"><i class="fa fa-sign-in"></i>&nbsp&nbspSIGN IN</a></li>
        <$ } $>
      </ul>
    </div>
  </nav>
<div id="bar">
  <div class="col-xs-12 col-md text-center">
  <form method="GET" action="/venues">
    <input class="form-control" Style="width: 250px" id="place" type="text" name="place[name]" placeholder="ex: Los Angeles, CA"/>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Miles
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">5 Miles</a></li>
        <li><a href="#">10 Miles</a></li>
        <li><a href="#">15 Miles</a></li>
        <li><a href="#">20 Miles</a></li>
        <li><a href="#">25  Miles</a></li>
      </ul>
    </div>
    <button id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100px" OnClick="btnSearch_Click">Search</button>
<!--     <input class="search-btn" type="submit" value="Search" /> -->
  </form>
  </div>
</div>


<div class="container">
  <div class="hero">
    <section class="layout">
      <div class="branding">
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->
</div>

</div>

