<meta charset="utf-8">

<title><$= title $></title>
<meta name="description" content="A template app for building Express/Mongoose.">

<link rel="stylesheet" type="text/css" href="/css/main.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale1.0, minimum-scale=1.0">
