@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: .25px;
}

#header {
  position: relative;
  display: block;
  width: 100%;
  height: 545px;
  background: url('../../images/misc/joinMainImage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  display: block;
}

nav {
  background-color: grey;
}

.restfulcrawllogo{
  margin-top: -3px;
  height: 33.5px;
  margin-left: -25px;
}

.nav-bar-welcome {
  margin-top: 20px;
  font-size: 10px;
  color: white;
  margin-left: 20px;
  margin-right: 7.5px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.fa {
  margin-top: 5px;
}

ol, ul {
  list-style: none;
}

#bar {
  background: rgba(0,0,0,.6);
  height: 65px;
  position: relative;
  top: 480px;
}

.btn-primary {
  background-color: white;
  color: grey;
  border-color: grey;
}

.style-color {
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
  color: grey;

}

.style-color:hover {
  color: #ED6743;
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
}

.style-color.active {
  color: #ED6743;
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
}

.search-create-btn:hover,
.create-create-btn:hover {
  color: #fb7121;
  background-color: rgba(0, 0, 0, .1);
  border-color: grey;
}

#place,
#btnSearch,
.dropdown {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

@media (min-width: 47em) {
  .layout .primary {
    width: 49.15245%;
    float: left;
    margin-right: 1.69492%;
  }

  .layout .secondary {
    width: 45.15254%;
    float: right;
    margin-right: 0;
  }
  .layout .secondary h1 {
    font-size: 1.8rem;
    color: #bd3613;
    padding-bottom: 5px;
  }

.icon {
  border-radius: 5px;
  width: 150px;
  height: 150px;
}


.navbar-nav > li > a:link,
.navbar-nav > li > a:visited,
.navbar-nav > li > a:active {
  color: white;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  color: #ED6743;
  height: 52.5px;
  border-radius: 1.5px;
  background-color: rgba(255, 255, 255, .6);
}

.profile-pic {
  float: right;
  border-radius: 50%;
  height: 30px;
  margin-top: 12.5px;
  margin-right: -12.5px;
}

/* INDEX PAGE */

#current-crawls {
  padding: 10px 0 0 90px;
}

#current-crawls h3 {
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.75px;
}

.crawl-instance {
  display: inline-block;
  color: white;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 5px #888888;
}

.crawl-instance:hover img {
  opacity: 0.75;
}

.crawl-instance img {
  width: 150px;
  border-radius: 5px;
}

.crawl-instance p {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.crawl-show {
  margin-top: 300px;
}

#indexRow {
  margin-left: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 54.5%;
  box-shadow: 10px 10px 5px #888888;
}

#buttonAddVenue {
  background-color: red;
  color: white;
  border-color: grey;
  border-radius: 5px;
  margin-left: 350px;
}

#buttonAddVenue:hover {
  color: red;
  background-color: rgba(0, 0, 0, .1);
  border-color: grey;
}

.venue-search-bar {
  margin-top: 25px;
}

#sidebar {
  width: 29.5%;
  float: right;
  margin-top: 25px;
  margin-right: 65px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.venue-name {
  color: grey;
  font-size: 25px;
}

.snippet-text {
  margin-left: 25px;
}

.venue-snippet-text {
  margin-top: 17.5px;
  margin-bottom: 45px;
}

.venue-thumb {
  margin-top: 20px;
}

.venue-thumb, .venue-snippet-image {
  border-radius: 5px;
  box-shadow: 5px 5px 2.5px #888888;
}

.venue-phone {
  margin-bottom: 15px;
}

.index-title {
  margin-top: 25px;
  font-size: 15px;
  text-transform: uppercase;
}

.crawl-show {
  width: 100%;
}

.crawl-show-title {
  font-size: 50px;
  margin-left: 75px;
  margin-top: -175px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.crawl-show-thumb {
  margin-left: 75px;
  margin-top: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 2.5px #888888;
}

.crawl-show-restaurant {
  margin-top: -47.5px;
  margin-left: 200px;
  color: rgba(0, 0, 0, .5);
}

.crawl-show-thumb:hover {
  opacity: 0.75;
}

.crawl-show-description {
  margin-top: -77.5px;
  margin-left: 650px;
  font-size: 25px;
}

.crawl-list-index {
  border: black solid 1px;
  padding: 20px;
}




