@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: .25px;
}

#header {
  position: relative;
  display: block;
  width: 100%;
  height: 490px;
  background: url('../../images/misc/joinMainImage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  display: block;
}

body {
  background: url('http://i.imgur.com/vNaKQkb.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 230px;
}

.index-body {
  background: url('http://i.imgur.com/vNaKQkb.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 250px;
  margin: 0 auto;
}

nav {
  background-color: grey;
}

.restfulcrawllogo{
  margin-top: -3px;
  height: 33.5px;
  margin-left: -25px;
}

.nav-bar-welcome {
  margin-top: 20px;
  font-size: 10px;
  color: white;
  margin-left: 20px;
  margin-right: 7.5px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.fa {
  margin-top: 5px;
}

ol, ul {
  list-style: none;
}

#bar {
  background: rgba(0,0,0,.6);
  height: 65px;
  position: relative;
  top: 425px;
}

.btn-primary {
  background-color: white;
  color: grey;
  border-color: grey;
}

.style-color {
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
  color: grey;

}

.style-color:hover {
  color: #ED6743;
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
}

.style-color.active {
  color: #ED6743;
  background-color: rgba(255, 255, 255, .975);
  border-color: rgba(255, 255, 255, .5);
}

.search-create-btn,
.create-create-btn {
  color: #ED6743;
  background-color: lightgrey;
  border-color: grey;
}

.search-create-btn:hover,
.create-create-btn:hover {
  color: #fb7121;
  background-color: rgba(0, 0, 0, .05);
  border-color: grey;
}

#place,
#btnSearch,
.dropdown {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.icon {
  border-radius: 5px;
  width: 150px;
  height: 150px;
}


.navbar-nav > li > a:link,
.navbar-nav > li > a:visited,
.navbar-nav > li > a:active {
  color: white;
  font-weight: bold;
}

.navbar-nav > li > a:hover {
  color: #ED6743;
  height: 52.5px;
  border-radius: 1.75px;
  background-color: rgba(255, 255, 255, .6);
}

.nav-create,
.nav-sign-in,
.nav-sign-out {
  letter-spacing: .75px;
}

.user-name {
  margin-top: 16.5px;
  font-size: 14px;
  letter-spacing: .625px;
}

.profile-pic {
  float: right;
  border-radius: 50%;
  height: 30px;
  margin-top: 12.5px;
  margin-right: -12.5px;
}

/* INDEX PAGE */

.upcoming-crawls-headline {
  margin-left: 15px;
  margin-top: 25px;
  font-weight: bold;
}

.crawl-instance img {
  width: 150px;
  border-radius: 6.5px;
  box-shadow: 10px 10px 5px #888888;
  display: inline-block;
  margin-top: 22.5px;
}

.crawl-instance:hover img {
  opacity: 0.75;
}

.index-title {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 15px;
  text-transform: uppercase;
}

#indexRow {
  margin-left: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 54.5%;
  box-shadow: 10px 10px 5px #888888;
/*  background: url('http://i.imgur.com/vNaKQkb.jpg');*/
/*  height: 100%;*/
/*  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 230px;*/
}

#buttonAddVenue {
  background-color: red;
  color: white;
  border-color: grey;
  border-radius: 5px;
  margin-left: 350px;
}

#buttonAddVenue:hover {
  color: red;
  background-color: rgba(0, 0, 0, .1);
  border-color: grey;
}

.venue-search-bar {
  margin-top: 25px;
}

#sidebar {
  width: 29.5%;
  float: right;
  margin-top: 25px;
  margin-right: 65px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.venue-name {
  color: grey;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
}

.snippet-text {
  margin-left: 25px;
}

.venue-snippet-text {
  margin-top: 17.5px;
  margin-bottom: 45px;
  margin-left: 25px;
}

.venue-thumb {
  margin-top: 40px;
  margin-left: 25px;
}

.venue-thumb, .venue-snippet-image {
  border-radius: 5px;
  box-shadow: 5px 5px 2.5px #888888;
  margin-left: 25px;
}

.venue-phone {
  margin-bottom: 15px;
  margin-left: 25px;
}

.venue-snippet-border {
  margin-top: -10px;
  border-bottom: 1px solid rgba(0, 0, 0, .375);
}

.venue-rating,
.venue-category,
.venue-address {
  margin-left: 25px;
}

.show-upper-half {
/*  background-color: red;*/
  margin-top: 75px;
  height: 100px;
  width: 1000px;
}

.show-upper-half-left {
/*  background-color: green;*/
  height: 100px;
}

.show-upper-half-right {
/*  background-color: blue;*/
  height: 100px;
}

.crawl-show-title {
  font-size: 50px;
  float: left;
  margin-top: 20px;
  margin-left: -35px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: -.5px;
}

.date-of-crawl {
  margin-top: 30px;
  margin-left: 290px;
}

.crawl-show-description {
  float: right;
  margin-top: 15px;
  margin-right: -7.5px;
  font-size: 21px;
}

.show-lower-half {
/*  background-color: purple;*/
  width: 1000px;
  height: 625px;
}

.show-lower-half-left {
/*  background-color: orange;*/
  height: 550px;
}

.show-lower-half-right {
/*  background-color: yellow;*/
  height: 625px;
  width: 565px;
}

.delete-button,
.rsvp-button {
  width: 75px;
  box-shadow: 2.25px 2.25px 1.25px #888888;

}

.rsvp-delete-group {
  margin-top: 25px;
  margin-left: 460px;
}

.crawl-show-thumb {
  margin-left: -30px;
  margin-top: 57.5px;
  border-radius: 5px;
  box-shadow: 5px 5px 2.5px #888888;
  margin-bottom: 30px;
}

.crawl-show-restaurant-info {
  color: rgba(0, 0, 0, .55);
  margin-top: -11.5px;
  margin-left: 105px;
}

.crawl-show-restaurant-group {
  margin-top: -127.5px;
}

.crawl-show-thumb:hover {
  opacity: 0.75;
}

.edit-button {
  margin-top: -7.5px;
  margin-left: -30px;
  margin-bottom: 17.5px;
  height: 30px;
  font-size: 14px;
  width: 50px;
  box-shadow: 1.5px 1.5px 1px #888888;
}

#reEditTitle,
#reEditDescription,
#reEditDate,
#reEditbutton {
  margin-left: -30px;
}

#reEditbutton {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 3opx;
  font-size: 14px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .325);
  color: white;
}

#reEditbutton:hover {
  background-color: rgba(0, 0, 0, .425);
  color: white;
}

#map {
  width: 525px;
  height: 445px;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 55px;
  margin-left: 22.5px;
  box-shadow: 5px 5px 2.5px #888888;
}

.crawl-list-index {
  border: grey solid 1px;
  padding: 20px;
  margin-bottom: 15px;
}

.rsvp-headline {
  margin-top: -25px;
  margin-left: 5px;
}

.crawl-member-thumbs {
  border-radius: 7.5px;
  box-shadow: 1px 1px 1px #888888;
  margin-top: 5px;
  margin-left: 5px;
}





