<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head.ejs') $>
</head>
<body>



  <main>
    <section id="main-content">
    <$- include('../partials/header.ejs', {subHeading: 'Welcome'}) $>
      <ul>
        <li><a href="/users">Visit the user list.</a></li>
      </ul>

      <$ crawls.forEach(function(crawl) { $>
        <div class="crawl" data-crawl-id="<$= crawl.id $>">
          <p><$= crawl.title $></p>
          <p><$= crawl $></p>
        </div>
      <$ }); $>
    </section>

    <section id="crawl-detail"></section>

  </main>

  <$- include('../partials/footer.ejs') $>
  <$- include('../partials/scripts.ejs') $>
  <$- include('../templates/crawlDetail.html') $>

</body>
</html>

