<div class="col-md-6 col-md-offset-2">

  <ul class="group ">

    <% appdata.businesses.forEach(function(item) { %>
      <li><a href"<%= item.image_url %>"><img class="icon" src="<%= item.image_url %>"></li>
      myCrawls = myCrawls.concat(item.crawls)
    <% }); %>
  </ul>
</div>







